
.DS_Store
res/.DS_Store
res/icons/.DS_Store
res/Icon
res/icons/Icon
res/icons/ios/Icon
res/screens/Icon
res/screens/ios/Icon
res/icons/ios/desktop.ini
res/icons/ios/desktop.ini
.DS_Store
