
img/.DS_Store
res/desktop.ini
res/.DS_Store
res/icons/android/desktop.ini
res/screens/.DS_Store
res/screens/android/Icon
res/screens/Icon
res/Icon
res/icons/.DS_Store
res/icons/android/desktop.ini
