
addons/.DS_Store
addons/files/.DS_Store
addons/mod/.DS_Store
addons/mod/lesson/.DS_Store
build/.DS_Store
core/.DS_Store
core/components/.DS_Store
img/.DS_Store
lib/ionic/.DS_Store
lib/ngCordova/.DS_Store
addons/messages/.DS_Store
addons/notifications/.DS_Store
core/components/settings/.DS_Store
lib/ionic/release/.DS_Store
addons/mod/folder/.DS_Store
build/lang/.DS_Store
lib/.DS_Store
